<h2>Support</h2>
<div>
  <h3 class="sub-title text-center"><a href="http://stackoverflow.com/questions/tagged/ejs">Stack Overflow</a></h3>
  <p><a href="http://stackoverflow.com/questions/ask">Ask questions</a> about specific problems you have faced, including details about what exactly you are trying to do. Make sure you tag your question with <code>ejs</code>. You can also read through <a href="http://stackoverflow.com/questions/tagged/ejs">existing ejs questions</a>.</p>
</div><!--//block-->
<div>
  <h3 class="sub-title text-center"><a href="https://github.com/mde/ejs/issues">GitHub issues</a></h3>
  <p>The <a href="https://github.com/mde/ejs/issues">issue tracker</a> is the preferred channel for bug reports, features requests and submitting pull requests.</p>
</div><!--//block-->
