<main class="body">
  <article id="article-whats">
    <%- include('_article-whats.ejs') %>
  </article>
  <article id="article-support">
    <%- include('_article-support.ejs') %>
  </article>
</main>
