<footer class="footer">
  <div class="footer-container">
    <div class="footer-greeting">Hello, <%= name %>!</div>
    <div class="footer-site-info">Time: <time><%= new Date() %></time></div>
  </div>
</footer>
