<header class="nav">
  <div class="nav-heading"><%= name %></div>
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="#">Archieve</a></li>
    <li><a href="/copyright.html">About</a></li>
  </ul>
</header>
